.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

button {
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 10%;
  }

.button-add img {
    width: 50px;
}

.button-add:hover {
    cursor: pointer;
    background-color: #91CA85;
}

.button-less img {
    width: 50px;
}

.button-less:hover {
    cursor: pointer;
    background-color: #C55650;
}

.button-reset img {
    width: 50px;
}

.button-reset:hover {
    cursor: pointer;
    background-color: #232323;
}