:root {
  display: flex;
  background-color: #0000;
  background-image: url('https://i.pinimg.com/originals/fd/40/a4/fd40a4b8b151c4e432106576187d03c9.gif');
  background-size: cover;
  font-family: "Pixelify Sans", sans-serif;
  color: #FFFF;
  justify-content: center;
}

h1 {
  font-optical-sizing: auto;
  font-weight: 700;
}

p {
  font-optical-sizing: auto;
  font-weight: 400;
}