form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.input-search {
    display: grid;
    gap: 5px;
}

input {
    width: 300px;
    border-radius: 6px;
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    padding: 0.5rem 1rem;
}

button {
    width: 80px;
    height: 32px;
    border-radius: 6px;
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(255, 255, 255);
    color: cornflowerblue;
}

button:hover {
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
}