:root {
  background-image: url('https://wallpapercave.com/wp/wp10161992.jpg');
  background-position: center;
  background-size: cover;
}

#app {
  text-align: center;
  color-scheme: light dark;
  font-family: "Lato", sans-serif;
  color: #050505;
}